<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
</head>
<body>
    <h1>Verification</h1>
    <h3>Check your Email</h3>
    <form action="/process_verify" method="post">
        <input type="text" id="ver" name="ver">
        <input type="submit" name="sub" id="sub">
        <div id="demo"></div>
    </form>

    <script>
        var time = 120;
        var min = "";
        var sec = "";
    
        var x = setInterval(function() {
            min = parseInt(time/60); 
            sec = time%60; 
    
            document.getElementById("demo").innerHTML = min + "분" + sec + "초";
            time--;
    
            if (time < 0) {
                clearInterval(x); 
                window.location.href='/timeout';
            }
        }, 1000);
    </script>
</body>
</html>