<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/register_style.css">
</head>
<body>
    <a href="/"><button>back</button></a>
    <form action="/process" method="post">
        <fieldset class="inf">
            <legend>회원가입</legend>
            <li>
                <ul class="cols">
                    <li class="col1">이름</li>
                    <li class="col2"><input type="text" name="name" required></li>
                </ul>
            </li>
            <li>
                <ul class="cols">
                    <li class="col1">이메일</li>
                    <li class="col2"><input type="email" name="email" required></li>
                </ul>
            </li>
            <li>
                <ul class="cols">
                    <li class="col1">비밀번호</li>
                    <li class="col2"><input type="password" name="pwd" required min="3" id="pwd1"></li>
                </ul>
            </li>
            <li>
                <ul class="cols">
                    <li class="col1">비번 확인</li>
                    <li class="col2"><input type="password" id="pwd2" required min="3" max="10"></li>
                    <li><small><strong id="isC"></strong></small></li>
                    
                </ul>
            </li>
            <br>
            <section>
                <input type="submit" id="reg" formmethod="post" disabled="true">
            </section>
        </fieldset>
    </form>

    <script type="text/javascript">
        pwd2.oninput = function isCorrect() {
            let pwd1 = document.getElementById('pwd1').value;
            let pwd2 = document.getElementById('pwd2').value;
            let sub = document.getElementById('reg');

            if(pwd1 != pwd2 || pwd2 == "") {
                isC.innerHTML = "비밀번호가 정확하기 않습니다";
                sub.disabled = true;
            } else if (checkSQLi(pwd1) != null) {
                isC.innerHTML = `허용되지 않은 문자가 있습니다 "${checkSQLi(pwd1)}"`;
                sub.disabled = true;
            } else {
                isC.innerHTML = "비밀번호가 정확합니다.";
                sub.disabled = false;
            }
        }

        pwd1.oninput = function isCorrect() {
            let pwd1 = document.getElementById('pwd1').value;
            let pwd2 = document.getElementById('pwd2').value;
            let sub = document.getElementById('reg');

            if(pwd1 != pwd2 || pwd2 == "") {
                isC.innerHTML = "비밀번호가 정확하기 않습니다";
                sub.disabled = true;
            } else if (checkSQLi(pwd1) != null) {
                isC.innerHTML = `허용되지 않은 문자가 있습니다 "${checkSQLi(pwd1)}"`;
                sub.disabled = true;
            } else {
                isC.innerHTML = "비밀번호가 정확합니다.";
                sub.disabled = false;
            }
        }

        function checkSQLi(pwd) {
            let ch = ['\'', '\"', '<', '>', '=', '%']
            for (var j = 0; j < ch.length; j++) {
                if (pwd.includes(ch[j])) {
                    return ch[j]
                }
            }
            return null
        }
    </script>
</body>
</html>